{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<title>Conejo Furioso</title>
{% endblock %}


{% block content %}
{% load humanize %}
<div class="container">
    <section class="pb-5">
        <div class="row">
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{product.name | capfirst }} </h5>
                        <p class="card-text description">{{product.description }}</p>
                        <p class="card-text price"><b>CLP ${{product.price | intcomma}}</b></p>
                        {% if product.stock > 0 %}
                        <a href="{% url  'Add' product.id %}" class="btn btn-primary">Agregar al Carrito</a>
                        
                        <!-- {% comment %}
                        <form action="{% url 'add_to_cart' product.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit">Agregar al carrito</button>
                          </form>
                        {% endcomment %} -->

                        {% else %}
                        <h4 class="text-center"><b>Sin Stock</b></h4>
                        {% endif %}
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}