{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<title>Conejo Furioso - Iniciar Sesión</title>
{% endblock %}

{% block content %}

{% load humanize %}
    {% load crispy_forms_tags %}
    <br><br>
    <div class="container my-5" style="max-width: 600px;">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card my-5">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales </h2>
                        <hr>
                        <form action="" method="post" class="form">
                            {% csrf_token %}
                            {{form | crispy }}
                            <a href="{% url 'home' %}">Inicio</a> |
                            <a href="{% url 'register' %}">Registrate</a>
                            <br>
                            <button type="submit" class="btn bg-primary-2">Ingresar</button>
                        </form>
                             
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br>
    </div>

{% endblock %}