{% extends 'app/base.html' %}

{% load static %} 
{% block css %}
<title>Conejo Furioso</title>
{% endblock %}

{% block content %}
<h2 class="title">hola hola hola</h2>
<div class="carrousel">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Sed velit dolorem quaerat possimus consequatur blanditiis
        saepe recusandae, in itaque neque provident explicabo, ipsum
        cupiditate accusantium, a quos. Animi, impedit qui?</p>
</div>

<div class="featured">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Sed velit dolorem quaerat possimus consequatur blanditiis
        saepe recusandae, in itaque neque provident explicabo, ipsum
        cupiditate accusantium, a quos. Animi, impedit qui?</p>
</div>

<div class="galery">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Sed velit dolorem quaerat possimus consequatur blanditiis
        saepe recusandae, in itaque neque provident explicabo, ipsum
        cupiditate accusantium, a quos. Animi, impedit qui?</p>
</div>


{% endblock %}