/* paleta de colores para el proyecto */
:root {
    --color-primary: #96D6EF; /* color navbar y footer */
    --color-primary-2: rgb(246, 241, 241); /* fondo */
    --color-secondary: #ffffff; /* hover links */
    --color-tres: #b7dae7ad; /* fondo cards */
}

/* color del background y body */
.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-primary-2 {
    background-color: var(--color-primary-2) !important;
}

body {
    background-color: var(--color-primary-2) !important;
    width: 100%;
    height: auto;
}

/* tamanio y posicion footer */
footer {
    width: 100%;
    height: 25%;
    bottom: 0;
    background-color: var(--color-primary) !important;
    padding: 10px;
    position: relative;
}

/* caracteristicas de las cards */
.card {
    margin-top: calc(8px *1.5);
    margin-bottom: calc(8px *1.5);
    /* margin: calc(8px *1.5) 0; */
    border: none;
    border-radius: 1rem;
    transition: all 100ms ease-in-out;
    /* color: var(--color-primary-2); */
    background-color: var(--color-tres) !important;

}

.btn{

    background-color: var(--color-primary) !important;
}

.btn:hover{

    background-color: black;
}


.card:hover {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.26);
}

.card-img,
.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 180px;
}

/* decoracion para elementos de enlace */
a {
    text-decoration: none;
}

/* items del navbar */
.nav-item a {
    color: #000000;
    margin-right: calc(8px*2);
}

.services a {
    margin-right: 32px;
}

.nav-link:hover {
    color: var(--color-secondary);
}

/* toggler navbar */
.navbar-toggler {
    background-color: var(--color-secondary);
}

/* seccion carousel */
.carrousel {
    padding-top: 96px;
}

/* aplica para todo el documento */
* {
    font-family: "Futura", sans-serif;
}

h1 {
    font-weight: bold;
  }

/* para darle el alto al body del card */
.card-body.featured {
    height: 305px;
}

/* boton del card body */
.featured a {
    position: absolute;
    bottom: 0;
    margin-bottom: calc(8px*2);
    color: #ffffff;
}

.featured a:hover {
    position: absolute;
    bottom: 0;
    margin-bottom: calc(8px*2);
    color: var(--color-secondary);
}
/* elemento nostock */
h5.noStock{
    position: absolute;
    bottom: 0;
    margin-bottom: calc(8px*3);
    color: var(--color-primary);
} 

/*  forms */
.form button{
    color: #ffffff;
}

.form button:hover{
    color: var(--color-secondary);
}

.card-form{
    width: 600px;
}

/* buttons listado  */
.list-buttons button.bg-primary {
   color: #ffffff;
}

.list-buttons button.bg-primary:hover {
    color: var(--color-secondary);
 }

/* buttons del catalogue */
 .quantity-input {
    width: 100px;
    margin-left: 10px;
  }
  
  .quantity-input input {
    text-align: center;
    width: 50px;
  }


/* items del footer */
.ft-item a {
    color: #ffffff;
    margin-right: calc(8px*2);
    height: auto;
}

.ft-link:hover {
    color: var(--color-secondary);
}


.categorycard{
    background-color: var(--color-tres) !important;
}