/* paleta de colores para el proyecto */
:root {
    --color-primary: rgb(27, 46, 41);
    --color-primary-2: rgb(240, 236, 202);
    --color-secondary: #ffd3a4;
}

/* color del background y body */
.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-primary-2 {
    background-color: var(--color-primary-2) !important;
}

body {
    background-color: var(--color-primary-2) !important;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

/* tamanio y posicion footer */
footer {
    width: 100%;
    height: 10em;
    bottom: 0;
    background-color: var(--color-primary) !important;
    padding: 10px;
}

/* boton de busqueda */
.btn-search {
    width: calc(8px*10);
    color: black;
    background-color: var(--color-secondary);
    margin-right: 24px;
}

.btn-search:hover {
    width: calc(8px*10);
    color: rgb(255, 255, 255);
    background-color: #000000;
}

/* barra de busqueda */
.input-search {
    width: calc(8px*50);
}

/* caracteristicas de las cards */
.card {
    margin-top: calc(8px *1.5);
    margin-bottom: calc(8px *1.5);
    /* margin: calc(8px *1.5) 0; */
    border: none;
    border-radius: 1rem;
    transition: all 100ms ease-in-out;
    /* color: var(--color-primary-2); */

}

.card:hover {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.26);
}

.card-img,
.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* decoracion para elementos de enlace */
a {
    text-decoration: none;
}

/* items del navbar */
.nav-item a {
    color: #ffffff;
    margin-right: calc(8px*2);
}

.services a {
    margin-right: 32px;
}

.nav-link:hover {
    color: var(--color-secondary);
}

/* toggler navbar */
.navbar-toggler {
    background-color: var(--color-secondary);
}

/* seccion carousel */
.carrousel {
    padding-top: 96px;
}

/* aplica para todo el documento */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* para darle el alto al body del card */
.card-body.featured {
    height: 305px;
}

/* boton del card body */
.featured a {
    position: absolute;
    bottom: 0;
    margin-bottom: calc(8px*2);
    color: #ffffff;
}

.featured a:hover {
    position: absolute;
    bottom: 0;
    margin-bottom: calc(8px*2);
    color: var(--color-secondary);
}
/* elemento nostock */
h5.noStock{
    position: absolute;
    bottom: 0;
    margin-bottom: calc(8px*3);
    color: var(--color-primary);
} 

/*  forms */
.form button{
    color: #ffffff;
}

.form button:hover{
    color: var(--color-secondary);
}

.card-form{
    width: 600px;
}

/* buttons listado  */
.list-buttons button.bg-primary {
   color: #ffffff;
}

.list-buttons button.bg-primary:hover {
    color: var(--color-secondary);
 }

/* buttons del catalogue */
 .quantity-input {
    width: 100px;
    margin-left: 10px;
  }
  
  .quantity-input input {
    text-align: center;
    width: 50px;
  }

  .btn-btn-primary {
    background-color: var(--color-primary) !important;
    color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px #888;
  }

  .btn-btn-primary:hover {
    color: var(--color-secondary) !important;

  }

/* items del footer */
.ft-item a {
    color: #ffffff;
    margin-right: calc(8px*2);
}

.ft-link:hover {
    color: var(--color-secondary);
}

/* sección categoria home */

.category-section {
    background-color: rgb(255, 237, 79);
}

